@charset "utf-8";

@font-face {
    font-family: 'しねきゃぷしょん';
    src: url('./cinecaption226.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	background-image: url(back.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	color: white;
	font-family: "しねきゃぷしょん" , "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5em;
}

.parent p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
}
