@charset "utf-8";

@font-face {
    font-family: 'しねきゃぷしょん';
    src: url('./cinecaption226.ttf') format('truetype');
}
body {
	margin: 0;
	padding: 0;
	background-image: url(p4164.gif);
	buckground-size: cover;
	buckground-repeat: no-repeat;
	color: white;
	font-family: "しねきゃぷしょん" , "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5em;
}
#contents {
	width: 800px;
	margin: 0 auto 0 auto;
	overflow: hidden;
}
#main {
	width: 570px;
	margin-bottom: 30px;
	float: left;
}

caption {
	overflow: hidden;
}
